<!DOCTYPE html>
<html>
<head>
    <title>My Awesome App</title>
    {#bundle tag="style"/}
</head>
<body>
<div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center w-100 mt-5">
    <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <i class="bi bi-lightning-fill"></i>
            <strong class="me-auto toast-title"></strong>
            <small>/hello</small>
        </div>
        <div class="toast-body">
        </div>
    </div>
</div>
{#bundle tag="script"/}
</body>
</html>